In [3]:
import pandas as pd

In [2]:
allfiles = pd.read_csv("data/allfiles_for_predicting.csv")

allfiles.head

<bound method NDFrame.head of                                                      file
0       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
1       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
2       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
3       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
4       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
...                                                   ...
421034  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421035  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421036  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421037  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421038  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...

[421039 rows x 1 columns]>

In [3]:
cliptimes_5s = pd.read_csv("data/cliptimes_5s.csv")
cliptimes_5s.head()

,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,Agapornis_canus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
allfiles_5s = pd.merge(
    allfiles.assign(key=1),
    cliptimes_5s.assign(key=1),
    on='key'
).drop('key',axis=1)

In [7]:
allfiles_5s.head(15)

,file,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,25,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,30,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,35,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,40,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,45,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,50,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,55,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
allfiles_5s.to_csv('data/allfiles_5s.csv',index=False)

In [4]:
allfiles_5s = pd.read_csv('data/allfiles_5s.csv')

In [5]:
allfiles_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052468 entries, 0 to 5052467
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   file                         object
 1   start_time                   int64
 2   end_time                     int64
 3   Hypsipetes_madagascariensis  float64
 4   Copsychus_albospecularis     float64
 5   Coracopsis_nigra             float64
 6   Dicrurus_forficatus          float64
 7   Coua_caerulea                float64
 8   Zosterops_maderaspatanus     float64
 9   Eurystomus_glaucurus         float64
 10  Agapornis_canus              float64
 11  Saxicola_torquatus           float64
 12  Cyanolanius_madagascarinus   float64
 13  Leptopterus_chabert          float64
 14  Nesoenas_picturatus          float64
 15  Coua_reynaudii               float64
 16  Ceblepyris_cinereus          float64
 17  Neodrepanis_coruscans        float64
 18  Philepitta_castanea          float64
 19  Eulemur_sp                   float64
 20  Coua_cristata                float64
 21  Treron_australis             float64
dtypes: float64(19), int64(2), object(1)
memory usage: 848.0+ MB

In [5]:
ankafobe_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ankafobe")].reset_index(drop=True)
ankafobe_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154904 entries, 0 to 1154903
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1154904 non-null  object
 1   start_time                   1154904 non-null  int64
 2   end_time                     1154904 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 193.8+ MB

In [6]:
ankafobe_5s.head()

,file,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
ankarabolava_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ankarabolava")].reset_index(drop=True)
ankarabolava_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983460 entries, 0 to 983459
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         983460 non-null  object
 1   start_time                   983460 non-null  int64
 2   end_time                     983460 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 165.1+ MB

In [8]:
analalava_5s = allfiles_5s[allfiles_5s['file'].str.contains("Analalava")].reset_index(drop=True)
analalava_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012668 entries, 0 to 1012667
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1012668 non-null  object
 1   start_time                   1012668 non-null  int64
 2   end_time                     1012668 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 170.0+ MB

In [9]:
marojejy_5s = allfiles_5s[allfiles_5s['file'].str.contains("Marojejy")].reset_index(drop=True)
marojejy_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815520 entries, 0 to 815519
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         815520 non-null  object
 1   start_time                   815520 non-null  int64
 2   end_time                     815520 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 136.9+ MB

In [10]:
ranomafana_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ranomafana")].reset_index(drop=True)
ranomafana_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085916 entries, 0 to 1085915
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1085916 non-null  object
 1   start_time                   1085916 non-null  int64
 2   end_time                     1085916 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 182.3+ MB

In [11]:
ankafobe_5s.to_csv('data/ankafobe_5s.csv',index=False)

In [12]:
ankarabolava_5s.to_csv('data/ankarabolava_5s.csv',index=False)

In [13]:
marojejy_5s.to_csv('data/marojejy_5s.csv',index=False)

In [14]:
analalava_5s.to_csv('data/analalava_5s.csv',index=False)

In [15]:
ranomafana_5s.to_csv('data/ranomafana_5s.csv',index=False)

In [18]:
ankafobe_forest_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBF")].reset_index(drop=True)
ankafobe_burn_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBB")].reset_index(drop=True)
ankafobe_reforest_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBR")].reset_index(drop=True)
ankafobe_burn_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328944 entries, 0 to 328943
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         328944 non-null  object
 1   start_time                   328944 non-null  int64
 2   end_time                     328944 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 55.2+ MB

In [20]:
ankafobe_forest_5s.to_csv('data/ankafobe_forest_5s.csv',index=False)
ankafobe_burn_5s.to_csv('data/ankafobe_burn_5s.csv',index=False)
ankafobe_reforest_5s.to_csv('data/ankafobe_reforest_5s.csv',index=False)